transformers==4.51.3
deepspeed==0.16.4
flash_attn==2.7.4.post1
triton==3.0.0
accelerate==1.4.0
torchcodec==0.2
ipykernel
ipywidgets
scipy
peft
datasets
hydra-core
decord
ffmpeg
matplotlib
wandb
tqdm
flash-attn
# vllm